$white: #ffffff !default;
$black: #000000 !default;
$yellow: #f7d600 !default;

$base-color: $black !default;
$highlight1: $yellow !default;
$highlight2: $black !default;
$background-color: #f9f9f9 !default;

$colors: (
	"white": $white,
	"black": $black,
	"gray": #f3f3f3,
	"yellow": $highlight1,
	"green": green
) !default;

h1{
 color: map-get($colors, "white");
}